In [ ]:
import pandas as pd

data_path= 'C:\\Users\\c.hernandezperez\\Desktop\\drop\\reports\\PRSA_Ireland-Pensions-sit_2019-01-29 16-24.html'
#prueba
df = pd.read_html(data_path)
quit()
#begin_test_condition = df[0]['Details'].iloc[0]
#print(begin_test_condition)
display(df)
# display(df)
# print(type(df))

In [ ]:
#display(df[0]['Status'].iloc[-1])# print(len(df))
print(type(df[0]))
display(df[0])



# print(df[0].Status.value_counts()30
# 'cancel' in df[30]['Status'].tolist()

In [6]:
from bs4 import BeautifulSoup

'''
Workflow
1- Sumar pasos
2 - Checkear si el ultimo es un cancel
   2.1 - Si es un cancel, guardar la informacion en la primera fila del DF_N
   2.2 - Si no es un cancel, checkear si el test acabo
       2.2.1 - Si aun no acabo sumar los pasos a los que habia antes
       2.2.2 - Guardar los datos en el DF y comenzar una fila nueva
       
       
TODO

Hacer cambios para poder trabajar con varios workflows

'''
def extract_info(df_path):
    print(df_path)
    try:
        df = pd.read_html(df_path)
    except:
        data_path= 'C:\\Users\\c.hernandezperez\\Desktop\\drop\\reports\\PRSA_Ireland-Pensions-sit_2019-01-29 12-54.html'
        soup = BeautifulSoup(open(data_path), "html.parser")
        #prueba
        df = pd.read_html(str(soup.find_all('table')))
    # On this list we will be adding our dictionaries to improve speed
    rows_list = []
    steps = 0
    start_time=0
    end_time=0
    try:
        print(df[0]['Details'].iloc[0])
    except:
        import pdb;pdb.set_trace()
        pass
    
    # This dictionary will be the one filling the rows_list
    dict_test = {}
    df_extracted = pd.DataFrame(columns=['Steps','Status','Start Time', 'End Time'])
    # Boolean to check if we are still on a test case
    in_test = False


    for i in range(len(df)-1):
        #Starting a test case
     #   import pdb;pdb.set_trace()
        # This if statement is the weakest part, should modify for multi work-flows
      #  import pdb;pdb.set_trace()
        
        # It's <=2 because some reports had only 1
        if len(df[i])==2 and df[i]['Timestamp'].iloc[0]==df[i]['Timestamp'].iloc[-1] and in_test==False:
            print('entered in the interlude')
            #import pdb; pdb.set_trace()
            pass
        else:
            # This if statement is the weakest part, should modify for multi work-flows
            if "Loaded the URL" in df[i]['Details'].iloc[0] and df[i]['Status'].sum()!=1:
                print('first time it enters in a test')
               # import pdb;pdb.set_trace()
                 # If we are on one work-flow this will make sure to save the previous test case
                # before getting on the next one
                if in_test:
                    print('Saved previous test')
                    #import pdb;pdb.set_trace()
                    status = 'pass'
                    #import pdb; pdb.set_trace()
                    # Add a new row
                    dict_test = {'Steps' : steps, 'Status' : status, 'Start Time' : start_time, 'End Time' : end_time}
                    rows_list.append(dict_test)
                    dict_test = {}
                    in_test = False


              #  import pdb;pdb.set_trace()
                # If we have a fail on the first mayor step, it will stop here and save the test in the list
                if ('cancel' or 'warning') in df[i]['Status'].tolist():
                    print('first time it enters but itis a fail')
                    # Values of the test
                    steps = df[i].Status.value_counts()['info_outline']
                    start_time = df[i]['Timestamp'].iloc[0]
                    end_time   = df[i]['Timestamp'].iloc[-1]
                    status = 'fail'
                
                    # Add a new row
                    dict_test = {'Steps' : steps, 'Status' : status, 'Start Time' : start_time, 'End Time' : end_time}
                    rows_list.append(dict_test)
                    dict_test = {}
                    in_test = False




                # Recopilar pasos
                # The first time it enters a test
                else:
                    start_time = df[i]['Timestamp'].iloc[0]
                    end_time = df[i]['Timestamp'].iloc[-1]
                    steps = df[i].Status.value_counts()['info_outline']
                    in_test = True

                    # If it is the same 
                    if i==(len(df)-2):
                        status = 'pass'
                        # Add a new row
                        dict_test = {'Steps' : steps, 'Status' : status, 'Start Time' : start_time, 'End Time' : end_time}
                        rows_list.append(dict_test)
                        dict_test = {}


            #We will enter here if there is continuation on a text or if the test was fatal
            else:
                if df[i].Status.value_counts().sum()==1 and ('redo' in df[i]['Status'].tolist() or 'cancel' in df[i]['Status'].tolist()):
                   # import pdb;pdb.set_trace()
                    
                    if in_test:
                        status = 'pass'
                        # Add a new row
                        dict_test = {'Steps' : steps, 'Status' : status, 'Start Time' : start_time, 'End Time' : end_time}
                        rows_list.append(dict_test)
                        dict_test = {}
                        in_test = False
                    
                    
                    # In this case we do not need the "tolist()" method
                    if 'cancel' in df[i].Status.value_counts():
                        status = 'fatal'
                    else:
                        status = 'skip'
                    steps = 1
                    start_time = df[i]['Timestamp'].iloc[0]
                    end_time   = df[i]['Timestamp'].iloc[0]

                    # Add a new row
                    dict_test = {'Steps' : steps, 'Status' : status, 'Start Time' : start_time, 'End Time' : end_time}
                    rows_list.append(dict_test)
                    dict_test = {}
                else:
                    # Continuing the test case but it is a failed test
                    if 'cancel' in df[i]['Status'].tolist():
                        #print('seems to be working')
                      #  import pdb;pdb.set_trace()
                        try:
                            steps += df[i].Status.value_counts()['info_outline']
                        except:
                            pass
                        end_time = df[i]['Timestamp'].iloc[-1]
                        status = 'fail'

                        # Add a new row
                        dict_test = {'Steps' : steps, 'Status' : status, 'Start Time' : start_time, 'End Time' : end_time}
                        rows_list.append(dict_test)
                        dict_test = {}
                        in_test = False

                    # Continuing the test case
                    else:
                       # print('continue on the test testing')
                        #import pdb;pdb.set_trace()
                        try:
                            steps += df[i].Status.value_counts()['info_outline']
                            end_time = df[i]['Timestamp'].iloc[-1]
                        except:
                            pass
                          #  import pdb;pdb.set_trace()
                        in_test = True
                        if i==(len(df)-2):
                           # import pdb;pdb.set_trace()
                            status = 'pass'
                            # Add a new row
                            dict_test = {'Steps' : steps, 'Status' : status, 'Start Time' : start_time, 'End Time' : end_time}
                            rows_list.append(dict_test)
                            dict_test = {}

                        # Añadir al dataframe
    df_extracted = pd.DataFrame(rows_list)
    
    soup = BeautifulSoup(open(df_path), "html.parser")
    test_names = []

    for test in soup.find_all('span', {'class' : 'test-name'}):
        print(test.text)
        test_names.append(test.text)
    try:
        df_extracted['test_names'] = test_names
    except:
        
        # Add a new row
        status = 'pass'
        dict_test = {'Steps' : steps, 'Status' : status, 'Start Time' : start_time, 'End Time' : end_time}
        rows_list.append(dict_test)
        df_extracted = pd.DataFrame(rows_list)
        import pdb;pdb.set_trace()
        df_extracted['test_names'] = test_names
        
    return df_extracted
    # df_extraced = pd.concat([df_extracted, df_middle])

# display(df_middle)

In [7]:
import os
import pandas as pd

# Read all the file names of a given directory
data_path = 'C:\\Users\\c.hernandezperez\\Desktop\\drop\\reports\\' # Cambiar esto
dirs = os.listdir(data_path)
# Open all the excel files and concatenate the data into a single variable
df = pd.DataFrame()
for name in dirs:
    extracted = extract_info(data_path+name)
    display(extracted)

    df = pd.concat([df, extracted], axis=0)
df.to_excel(data_path+'prueba_2.xlsx',index=False)

C:\Users\c.hernandezperez\Desktop\drop\reports\338.html
LA_FranceDomestic
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
LA_FranceDomestic
LA_GermanyDomesticLayered
LA_SingaporeIpzRenewal
LA_SwedenIpzMta
LA_SwitzerlandIpzLayered
LA_UkDomesticCancellation

   Steps Status   Start Time     End Time                 test_names
0    107   fail  10:23:54 AM  10:26:52 AM          LA_FranceDomestic
1    149   fail  10:26:54 AM  10:37:35 AM  LA_GermanyDomesticLayered
2    149   fail  10:31:13 AM  10:37:35 AM     LA_SingaporeIpzRenewal
3    164   fail  10:37:37 AM  10:44:38 AM            LA_SwedenIpzMta
4    164   pass  10:44:40 AM  10:49:30 AM   LA_SwitzerlandIpzLayered
5    119   pass  10:49:32 AM  10:52:34 AM  LA_UkDomesticCancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\339.html
'SPC_BasicQuoteVerifyQuote' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
entered in the interlude
first time it enters in a test
SPC_BasicQuoteVerifyQuote
SPC_EditQuoteCoverDefault
SPC_FxRatesOverride
SPC_ValidationsCyber
SPC_ValidationsCoversEndorsements
SPC_ValidationsNoCyber
SPC_CalculationReportedInXml
SPC_MultiVersionsVersionsFile
SPC_PolicyStateBound
SPC_PolicyStateMte
SPC_PolicyStateRenewal
SPC_PolicyStateCancellation

    Steps Status   Start Time     End Time                         test_names
0     118   pass  11:03:30 AM  11:06:35 AM          SPC_BasicQuoteVerifyQuote
1      97   pass  11:06:37 AM  11:09:03 AM          SPC_EditQuoteCoverDefault
2     101   pass  11:09:04 AM  11:12:33 AM                SPC_FxRatesOverride
3     166   pass  11:12:34 AM  11:21:44 AM               SPC_ValidationsCyber
4     255   pass  11:21:46 AM  11:27:30 AM  SPC_ValidationsCoversEndorsements
5     131   pass  11:27:32 AM  11:30:26 AM             SPC_ValidationsNoCyber
6     175   pass  11:30:28 AM  11:35:16 AM       SPC_CalculationReportedInXml
7     150   pass  11:35:18 AM  11:45:23 AM      SPC_MultiVersionsVersionsFile
8      46   pass  11:45:25 AM  11:46:54 AM               SPC_PolicyStateBound
9      44   fail  11:46:56 AM  11:50:55 AM                 SPC_PolicyStateMte
10     50   fail  11:48:07 AM  11:50:54 AM             SPC_PolicyStateRenewal
11     35   fail  11:50:56 AM  11:52:20 AM        SPC_PolicyStateCancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\341.html
'ML_UkMultiLine' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
ML_UkMultiLine
ML_UkMultiLineRenewal

   Steps Status   Start Time     End Time             test_names
0    174   fail  12:34:49 PM  12:47:13 PM         ML_UkMultiLine
1     71   fail  12:40:27 PM  12:47:12 PM  ML_UkMultiLineRenewal

C:\Users\c.hernandezperez\Desktop\drop\reports\342.html
BT_AustraliaNewSubmission
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
BT_AustraliaNewSubmission
BT_ChinaNewSubmissionRenewal
BT_HongKongNewSubmissionCopySubmission
BT_IndonesiaNewSubmission
BT_SingaporeNewSubmissionCancellation
BT_SpainNewSubmissionMultiversion
BT_SwitzerlandNewSubmissionChangePolicyEffDate
BT_AustraliaMta

,Steps,Status,Start Time,End Time,test_names
0,226,fail,12:35:20 PM,12:42:38 PM,BT_AustraliaNewSubmission
1,205,fail,12:42:40 PM,12:48:41 PM,BT_ChinaNewSubmissionRenewal
2,139,fail,12:48:43 PM,12:59:06 PM,BT_HongKongNewSubmissionCopySubmission
3,137,fail,12:52:30 PM,12:59:05 PM,BT_IndonesiaNewSubmission
4,139,fail,12:59:07 PM,1:04:46 PM,BT_SingaporeNewSubmissionCancellation
5,203,fail,1:04:48 PM,1:11:13 PM,BT_SpainNewSubmissionMultiversion
6,142,fail,1:11:16 PM,1:15:52 PM,BT_SwitzerlandNewSubmissionChangePolicyEffDate
7,1,skip,1:15:53 PM,1:15:53 PM,BT_AustraliaMta

C:\Users\c.hernandezperez\Desktop\drop\reports\343.html
'EL_MultiversionDiffRenameWithdrawBind' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
EL_MultiversionDiffRenameWithdrawBind
EL_MultiversionOfferDiffRenameFailToWithdraw
EL_CopydraftEditBindCancel
EL_MtaIssueCancel

,Steps,Status,Start Time,End Time,test_names
0,277,pass,1:20:11 PM,1:25:53 PM,EL_MultiversionDiffRenameWithdrawBind
1,228,pass,1:25:55 PM,1:31:05 PM,EL_MultiversionOfferDiffRenameFailToWithdraw
2,320,fail,1:31:07 PM,1:45:36 PM,EL_CopydraftEditBindCancel
3,260,fail,1:38:56 PM,1:45:36 PM,EL_MtaIssueCancel

C:\Users\c.hernandezperez\Desktop\drop\reports\344.html
PA_NewSubmissionAustralia
entered in the interlude
first time it enters in a test
first time it enters but itis a fail
entered in the interlude
first time it enters in a test
first time it enters but itis a fail
PA_NewSubmissionAustralia
PA_NewSubmissionChina
PA_MtaAustralia
PA_RenewalChina
PA_Cancellation

   Steps Status  Start Time    End Time                 test_names
0      6   fail  1:49:19 PM  1:51:22 PM  PA_NewSubmissionAustralia
1      6   fail  1:51:23 PM  1:53:26 PM      PA_NewSubmissionChina
2      1   skip  1:53:26 PM  1:53:26 PM            PA_MtaAustralia
3      1   skip  1:53:26 PM  1:53:26 PM            PA_RenewalChina
4      1   skip  1:53:26 PM  1:53:26 PM            PA_Cancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\345.html
MC_CreateSubmission
entered in the interlude
first time it enters in a test
first time it enters but itis a fail
entered in the interlude
first time it enters in a test
first time it enters but itis a fail
entered in the interlude
first time it enters in a test
first time it enters but itis a fail
entered in the interlude
first time it enters in a test
first time it enters but itis a fail
MC_CreateSubmission
MC_CreateSubmissionWithRiskAnalysis
MC_NsTransitTransitModClaims
MC_NSTransitDsuStorageExtension
MC_MtaChangePolicy
MC_RenewalStoredGoodsClaimsSpreadsheet
MC_Negative
MC_Cancellation

,Steps,Status,Start Time,End Time,test_names
0,6,fail,1:50:09 PM,1:52:14 PM,MC_CreateSubmission
1,6,fail,1:52:16 PM,1:54:20 PM,MC_CreateSubmissionWithRiskAnalysis
2,6,fail,1:54:20 PM,1:56:23 PM,MC_NsTransitTransitModClaims
3,6,fail,1:56:24 PM,1:58:27 PM,MC_NSTransitDsuStorageExtension
4,1,skip,1:58:27 PM,1:58:27 PM,MC_MtaChangePolicy
5,1,skip,1:58:27 PM,1:58:27 PM,MC_RenewalStoredGoodsClaimsSpreadsheet
6,1,skip,1:58:27 PM,1:58:27 PM,MC_Negative
7,1,skip,1:58:27 PM,1:58:27 PM,MC_Cancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\346.html
MC_CreateSubmission
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
MC_CreateSubmission
MC_CreateSubmissionWithRiskAnalysis
MC_NsTransitTransitModClaims
MC_NSTransitDsuStorageExtension
MC_MtaChangePolicy
MC_RenewalStoredGoodsClaimsSpreadsheet
MC_Negative
MC_Cancellation

,Steps,Status,Start Time,End Time,test_names
0,268,fail,2:18:04 PM,2:34:56 PM,MC_CreateSubmission
1,282,fail,2:34:58 PM,2:52:28 PM,MC_CreateSubmissionWithRiskAnalysis
2,158,fail,2:52:30 PM,2:58:29 PM,MC_NsTransitTransitModClaims
3,174,pass,2:58:30 PM,3:06:35 PM,MC_NSTransitDsuStorageExtension
4,1,skip,3:06:36 PM,3:06:36 PM,MC_MtaChangePolicy
5,1,skip,3:06:36 PM,3:06:36 PM,MC_RenewalStoredGoodsClaimsSpreadsheet
6,1,skip,3:06:36 PM,3:06:36 PM,MC_Negative
7,1,skip,3:06:36 PM,3:06:36 PM,MC_Cancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\347.html
'PA_NewSubmissionAustralia' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
PA_NewSubmissionAustralia
PA_NewSubmissionChina
PA_MtaAustralia
PA_RenewalChina
PA_Cancellation

   Steps Status  Start Time    End Time                 test_names
0    147   fail  3:13:15 PM  3:22:26 PM  PA_NewSubmissionAustralia
1    140   fail  3:17:40 PM  3:22:25 PM      PA_NewSubmissionChina
2     83   pass  3:22:27 PM  3:24:46 PM            PA_MtaAustralia
3      1   skip  3:24:46 PM  3:24:46 PM            PA_RenewalChina
4     34   pass  3:24:47 PM  3:25:04 PM            PA_Cancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\348_1.html
'BT_AustraliaNewSubmission' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
BT_AustraliaNewSubmission
BT_ChinaNewSubmissionRenewal
BT_HongKongNewSubmissionCopySubmission
BT_IndonesiaNewSubmission
BT_SingaporeNewSubmissionCancellation
BT_SpainNewSubmissionMultiversion
BT_SwitzerlandNewSubmissionChangePolicyEffDate
BT_AustraliaMta

,Steps,Status,Start Time,End Time,test_names
0,219,pass,12:05:06 PM,12:15:34 PM,BT_AustraliaNewSubmission
1,244,pass,12:15:36 PM,12:30:07 PM,BT_ChinaNewSubmissionRenewal
2,139,pass,12:30:09 PM,12:36:02 PM,BT_HongKongNewSubmissionCopySubmission
3,140,pass,12:36:04 PM,12:43:51 PM,BT_IndonesiaNewSubmission
4,154,pass,12:43:53 PM,12:51:09 PM,BT_SingaporeNewSubmissionCancellation
5,211,pass,12:51:10 PM,12:58:46 PM,BT_SpainNewSubmissionMultiversion
6,187,pass,12:58:48 PM,1:05:32 PM,BT_SwitzerlandNewSubmissionChangePolicyEffDate
7,69,pass,1:05:34 PM,1:10:40 PM,BT_AustraliaMta

C:\Users\c.hernandezperez\Desktop\drop\reports\348_2.html
'SPC_BasicQuoteVerifyQuote' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
SPC_BasicQuoteVerifyQuote
SPC_EditQuoteCoverDefault
SPC_FxRatesOverride
SPC_ValidationsCyber
SPC_ValidationsCoversEndorsements
SPC_ValidationsNoCyber
SPC_CalculationReportedInXml
SPC_MultiVersionsVersionsFile
SPC_PolicyStateBound
SPC_PolicyStateMte
SPC_PolicyStateRenewal
SPC_PolicyStateCancellation

    Steps Status   Start Time     End Time                         test_names
0     108   pass  12:05:06 PM  12:11:56 PM          SPC_BasicQuoteVerifyQuote
1      97   pass  12:11:58 PM  12:17:27 PM          SPC_EditQuoteCoverDefault
2      92   pass  12:17:28 PM  12:23:38 PM                SPC_FxRatesOverride
3     166   pass  12:23:40 PM  12:37:54 PM               SPC_ValidationsCyber
4     255   pass  12:37:56 PM  12:47:10 PM  SPC_ValidationsCoversEndorsements
5     131   pass  12:47:12 PM  12:52:16 PM             SPC_ValidationsNoCyber
6     165   fail  12:52:18 PM   1:09:05 PM       SPC_CalculationReportedInXml
7     145   fail  12:58:03 PM   1:09:05 PM      SPC_MultiVersionsVersionsFile
8      46   pass   1:09:06 PM   1:10:38 PM               SPC_PolicyStateBound
9      44   pass   1:10:40 PM   1:11:53 PM                 SPC_PolicyStateMte
10     53   pass   1:11:55 PM   1:13:48 PM             SPC_PolicyStateRenewal
11     36   pass   1:13:50 PM   1:14:08 PM        SPC_PolicyStateCancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\348_3.html
'EL_MultiversionDiffRenameWithdrawBind' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
EL_MultiversionDiffRenameWithdrawBind
EL_MultiversionOfferDiffRenameFailToWithdraw
EL_CopydraftEditBindCancel
EL_MtaIssueCancel

,Steps,Status,Start Time,End Time,test_names
0,277,pass,12:05:06 PM,12:18:27 PM,EL_MultiversionDiffRenameWithdrawBind
1,228,pass,12:18:29 PM,12:30:22 PM,EL_MultiversionOfferDiffRenameFailToWithdraw
2,320,pass,12:30:24 PM,12:43:41 PM,EL_CopydraftEditBindCancel
3,359,pass,12:43:43 PM,12:57:02 PM,EL_MtaIssueCancel

C:\Users\c.hernandezperez\Desktop\drop\reports\348_4.html
LA_FranceDomestic
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
LA_FranceDomestic
LA_GermanyDomesticLayered
LA_SingaporeIpzRenewal
LA_SwedenIpzMta
LA_SwitzerlandIpzLayered
LA_UkDomesticCancellation

   Steps Status   Start Time     End Time                 test_names
0    126   pass  12:05:06 PM  12:13:06 PM          LA_FranceDomestic
1    149   pass  12:13:10 PM  12:21:19 PM  LA_GermanyDomesticLayered
2    152   fail  12:21:21 PM  12:41:56 PM     LA_SingaporeIpzRenewal
3    164   fail  12:31:47 PM  12:41:56 PM            LA_SwedenIpzMta
4     96   pass  12:41:58 PM  12:47:42 PM   LA_SwitzerlandIpzLayered
5    119   pass  12:47:46 PM  12:52:54 PM  LA_UkDomesticCancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\348_6.html
'ML_UkMultiLine' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
ML_UkMultiLine
ML_UkMultiLineRenewal

   Steps Status   Start Time     End Time             test_names
0    165   pass  12:25:55 PM  12:33:26 PM         ML_UkMultiLine
1     65   pass  12:33:28 PM  12:39:45 PM  ML_UkMultiLineRenewal

C:\Users\c.hernandezperez\Desktop\drop\reports\348_7.html
'PA_NewSubmissionAustralia' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
PA_NewSubmissionAustralia
PA_NewSubmissionChina
PA_MtaAustralia
PA_RenewalChina
PA_Cancellation

   Steps Status   Start Time     End Time                 test_names
0    137   pass  12:05:06 PM  12:12:02 PM  PA_NewSubmissionAustralia
1    134   pass  12:12:04 PM  12:19:38 PM      PA_NewSubmissionChina
2     83   pass  12:19:40 PM  12:23:37 PM            PA_MtaAustralia
3     69   pass  12:23:39 PM  12:28:02 PM            PA_RenewalChina
4     22   pass  12:28:04 PM  12:28:15 PM            PA_Cancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\349_2.html
LA_FranceDomestic
entered in the interlude
first time it enters in a test
first time it enters in a test
entered in the interlude
first time it enters in a test
LA_FranceDomestic
LA_SwedenIpzMta
LA_SwitzerlandIpzLayered

   Steps Status  Start Time    End Time                test_names
0    126   fail  1:33:00 PM  1:45:57 PM         LA_FranceDomestic
1    164   fail  1:37:39 PM  1:45:56 PM           LA_SwedenIpzMta
2     96   pass  1:45:59 PM  1:51:30 PM  LA_SwitzerlandIpzLayered

C:\Users\c.hernandezperez\Desktop\drop\reports\349_3.html
MC_CreateSubmission
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
first time it enters in a test
Saved previous test
MC_CreateSubmission
MC_CreateSubmissionWithRiskAnalysis
MC_NsTransitTransitModClaims
MC_NSTransitDsuStorageExtension
MC_MtaChangePolicy
MC_RenewalStoredGoodsClaimsSpreadsheet
MC_Negative
MC_Cancellation

,Steps,Status,Start Time,End Time,test_names
0,235,fail,1:33:00 PM,1:49:50 PM,MC_CreateSubmission
1,293,pass,1:49:51 PM,2:07:12 PM,MC_CreateSubmissionWithRiskAnalysis
2,169,pass,2:07:14 PM,2:12:02 PM,MC_NsTransitTransitModClaims
3,174,pass,2:12:03 PM,2:20:16 PM,MC_NSTransitDsuStorageExtension
4,73,pass,2:20:18 PM,2:22:15 PM,MC_MtaChangePolicy
5,103,fail,2:22:16 PM,2:32:35 PM,MC_RenewalStoredGoodsClaimsSpreadsheet
6,46,pass,2:30:26 PM,2:32:34 PM,MC_Negative
7,34,pass,2:32:36 PM,2:33:00 PM,MC_Cancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\350.html
'SPC_EditQuoteCoverDefault' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
SPC_EditQuoteCoverDefault
SPC_MultiVersionsVersionsFile

   Steps Status  Start Time    End Time                     test_names
0    104   pass  1:37:27 PM  1:40:32 PM      SPC_EditQuoteCoverDefault
1    146   pass  1:40:34 PM  1:52:50 PM  SPC_MultiVersionsVersionsFile

C:\Users\c.hernandezperez\Desktop\drop\reports\351.html
'MC_CreateSubmission' PASSED
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
first time it enters in a test
Saved previous test
MC_CreateSubmission
MC_CreateSubmissionWithRiskAnalysis
MC_NsTransitTransitModClaims
MC_NSTransitDsuStorageExtension
MC_MtaChangePolicy
MC_RenewalStoredGoodsClaimsSpreadsheet
MC_Negative
MC_Cancellation

,Steps,Status,Start Time,End Time,test_names
0,261,pass,2:35:02 PM,2:50:52 PM,MC_CreateSubmission
1,293,pass,2:50:54 PM,3:07:59 PM,MC_CreateSubmissionWithRiskAnalysis
2,169,pass,3:08:01 PM,3:12:54 PM,MC_NsTransitTransitModClaims
3,174,pass,3:12:56 PM,3:21:36 PM,MC_NSTransitDsuStorageExtension
4,73,pass,3:21:37 PM,3:23:33 PM,MC_MtaChangePolicy
5,103,fail,3:23:34 PM,3:34:03 PM,MC_RenewalStoredGoodsClaimsSpreadsheet
6,46,pass,3:31:50 PM,3:34:03 PM,MC_Negative
7,22,pass,3:34:04 PM,3:34:14 PM,MC_Cancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\352.html
LA_FranceDomestic
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
LA_FranceDomestic
LA_SwedenIpzMta
LA_SwitzerlandIpzLayered

   Steps Status   Start Time     End Time                test_names
0    168   fail  11:32:17 AM  11:37:14 AM         LA_FranceDomestic
1    175   pass  11:37:16 AM  11:41:18 AM           LA_SwedenIpzMta
2    165   pass  11:41:20 AM  11:44:39 AM  LA_SwitzerlandIpzLayered

C:\Users\c.hernandezperez\Desktop\drop\reports\353.html
LA_FranceDomestic
entered in the interlude
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
entered in the interlude
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
LA_FranceDomestic
LA_GermanyDomesticLayered
LA_SingaporeIpzRenewal
LA_SwedenIpzMta
LA_SwitzerlandIpzLayered
LA_UkDomesticCancellation

   Steps Status   Start Time     End Time                 test_names
0    168   fail  11:49:00 AM  11:53:56 AM          LA_FranceDomestic
1    149   fail  11:54:00 AM  12:00:42 PM  LA_GermanyDomesticLayered
2    123   fail  11:57:04 AM  12:00:37 PM     LA_SingaporeIpzRenewal
3    175   pass  12:00:43 PM  12:04:47 PM            LA_SwedenIpzMta
4    165   pass  12:04:49 PM  12:08:09 PM   LA_SwitzerlandIpzLayered
5    119   pass  12:08:12 PM  12:10:40 PM  LA_UkDomesticCancellation

C:\Users\c.hernandezperez\Desktop\drop\reports\Doppo_20200505_6.html
Loaded the URL : 'https://owl-webapp-sit.azurewebsites.net/contratar-seguro-coche/consentimiento-legal'
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters but itis a fail
first time it enters in a test
Test ID :- SALE_P_16
Test ID :- SALE_P_21
Test ID :- SALE_P_20
Test ID :- SALE_P_22
Test ID :- SALE_P_23
Test ID :- SALE_P_26
Test ID :- INSP_P_09
Test ID :- SALE_P_36

   Steps Status  Start Time    End Time            test_names
0    195   pass  3:36:23 PM  3:52:17 PM  Test ID :- SALE_P_16
1    190   pass  3:36:21 PM  3:52:13 PM  Test ID :- SALE_P_21
2    191   pass  3:36:20 PM  3:52:23 PM  Test ID :- SALE_P_20
3    191   pass  3:52:27 PM  4:07:23 PM  Test ID :- SALE_P_22
4    179   pass  3:52:27 PM  4:07:07 PM  Test ID :- SALE_P_23
5    191   pass  3:52:40 PM  4:07:17 PM  Test ID :- SALE_P_26
6    130   fail  4:07:18 PM  4:18:51 PM  Test ID :- INSP_P_09
7    191   pass  4:07:25 PM  4:23:56 PM  Test ID :- SALE_P_36

C:\Users\c.hernandezperez\Desktop\drop\reports\Doppo_20200506_1.html
Loaded the URL : 'https://owl-webapp-sit.azurewebsites.net/contratar-seguro-coche/consentimiento-legal'
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
Test ID :- SALE_P_01
Test ID :- SALE_P_03
Test ID :- SALE_P_02
Test ID :- SALE_P_04
Test ID :- SALE_P_05
Test ID :- SALE_P_06
Test ID :- SALE_P_07
Test ID :- SALE_P_08
Test ID :- SALE_P_09
Test ID :- SALE_P_10
Test ID :- SALE_P_11
Test ID :- SALE_P_12
Test ID :- SALE_P_13
Test ID :- SALE_P_14
Test ID :- SALE_P_15

    Steps Status  Start Time    End Time            test_names
0     194   pass  7:15:13 AM  7:32:44 AM  Test ID :- SALE_P_01
1     180   pass  7:15:06 AM  7:32:10 AM  Test ID :- SALE_P_03
2     196   pass  7:15:06 AM  7:32:10 AM  Test ID :- SALE_P_02
3       3   pass  7:32:21 AM  7:32:38 AM  Test ID :- SALE_P_04
4     194   pass  7:32:20 AM  7:48:20 AM  Test ID :- SALE_P_05
5       4   pass  7:32:48 AM  7:32:54 AM  Test ID :- SALE_P_06
6     192   pass  7:32:59 AM  7:48:56 AM  Test ID :- SALE_P_07
7     157   fail  7:33:09 AM  7:49:44 AM  Test ID :- SALE_P_08
8     175   pass  7:48:30 AM  8:03:33 AM  Test ID :- SALE_P_09
9     197   pass  7:49:08 AM  8:07:29 AM  Test ID :- SALE_P_10
10    194   pass  7:49:57 AM  8:07:44 AM  Test ID :- SALE_P_11
11    191   pass  8:03:44 AM  8:18:58 AM  Test ID :- SALE_P_12
12    177   pass  8:07:41 AM  8:23:11 AM  Test ID :- SALE_P_13
13    177   pass  8:07:57 AM  8:22:41 AM  Test ID :- SALE_P_14
14    199   pass  8:19:10 AM  8:37:27 AM  Test ID :- SALE_P_15

C:\Users\c.hernandezperez\Desktop\drop\reports\Doppo_20200506_2.html
Loaded the URL : 'https://owl-webapp-sit.azurewebsites.net/contratar-seguro-coche/consentimiento-legal'
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
Test ID :- EXCL_M_01
Test ID :- EXCL_M_02
Test ID :- EXCL_M_03
Test ID :- EXCL_M_04
Test ID :- EXCL_M_05
Test ID :- EXCL_M_07
Test ID :- EXCL_M_08
Test ID :- EXCL_M_09
Test ID :- EXCL_M_10
Test ID :- EXCL_M_11
> <ipython-input-6-af5bd3a018a8>(194)extract_info()
-> df_extracted['test_names'] = test_names
(Pdb) c

   Steps Status  Start Time    End Time            test_names
0     24   pass  8:44:18 AM  8:45:10 AM  Test ID :- EXCL_M_01
1     54   pass  8:44:21 AM  8:46:19 AM  Test ID :- EXCL_M_02
2     54   pass  8:44:13 AM  8:46:13 AM  Test ID :- EXCL_M_03
3     53   pass  8:46:12 AM  8:48:28 AM  Test ID :- EXCL_M_04
4     53   pass  8:46:33 AM  8:48:35 AM  Test ID :- EXCL_M_05
5     24   pass  8:46:35 AM  8:47:23 AM  Test ID :- EXCL_M_07
6     53   pass  8:48:24 AM  8:50:47 AM  Test ID :- EXCL_M_08
7     53   pass  8:48:40 AM  8:50:59 AM  Test ID :- EXCL_M_09
8     55   pass  8:48:56 AM  8:50:53 AM  Test ID :- EXCL_M_10
9     55   pass  8:48:56 AM  8:50:53 AM  Test ID :- EXCL_M_11

C:\Users\c.hernandezperez\Desktop\drop\reports\Doppo_20200506_3.html
Loaded the URL : 'https://owl-webapp-sit.azurewebsites.net/contratar-seguro-coche/consentimiento-legal'
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters but itis a fail
first time it enters in a test
first time it enters but itis a fail
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters but itis a fail
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
Test ID :- EXCL_P_03
Test ID :- EXCL_P_05
Test ID :- EXCL_P_02
Test ID :- EXCL_P_06
Test ID :- EXCL_P_09
Test ID :- EXCL_P_11
Test ID :- EXCL_P_12
Test ID :- EXCL_P_13
Test ID :- EXCL_P_14
Test ID :- EXCL_P_15
Test ID :- EXCL_P_16
Test ID :- EXCL_P_18
Test ID :- EXCL_P_24
Test ID :- EXCL_P_25
Test ID :- EXCL_P_26
Test ID :- EXCL_P_28
Test ID :- EXCL_P_29
Test ID :- EXCL_P_30
Test ID :- EXCL_P_31
Test ID :- EXCL_P_32

    Steps Status  Start Time    End Time            test_names
0      54   pass  9:15:36 AM  9:17:36 AM  Test ID :- EXCL_P_03
1      54   pass  9:15:36 AM  9:17:29 AM  Test ID :- EXCL_P_05
2      54   pass  9:15:35 AM  9:17:29 AM  Test ID :- EXCL_P_02
3      53   pass  9:17:47 AM  9:19:51 AM  Test ID :- EXCL_P_06
4      15   fail  9:17:39 AM  9:18:04 AM  Test ID :- EXCL_P_09
5      15   fail  9:17:47 AM  9:18:05 AM  Test ID :- EXCL_P_11
6      15   pass  9:18:17 AM  9:18:34 AM  Test ID :- EXCL_P_12
7      55   pass  9:18:17 AM  9:20:15 AM  Test ID :- EXCL_P_13
8      21   fail  9:18:45 AM  9:20:03 AM  Test ID :- EXCL_P_14
9      58   pass  9:20:03 AM  9:22:11 AM  Test ID :- EXCL_P_15
10     55   pass  9:20:17 AM  9:22:22 AM  Test ID :- EXCL_P_16
11     31   pass  9:20:28 AM  9:21:41 AM  Test ID :- EXCL_P_18
12     55   pass  9:22:23 AM  9:24:34 AM  Test ID :- EXCL_P_24
13     55   pass  9:22:48 AM  9:24:39 AM  Test ID :- EXCL_P_25
14     55   pass  9:22:43 AM  9:24:36 AM  Test ID :- EXCL_P_26
15     56   pass  9:24:44 AM  9:26:50 AM  Test ID :- EXCL_P_28
16     58   pass  9:24:45 AM  9:26:49 AM  Test ID :- EXCL_P_29
17     60   pass  9:24:58 AM  9:26:54 AM  Test ID :- EXCL_P_30
18     58   pass  9:27:05 AM  9:29:09 AM  Test ID :- EXCL_P_31
19     60   pass  9:26:59 AM  9:29:00 AM  Test ID :- EXCL_P_32

C:\Users\c.hernandezperez\Desktop\drop\reports\Doppo_20200506_4.html
Loaded the URL : 'https://owl-webapp-sit.azurewebsites.net/contratar-seguro-coche/consentimiento-legal'
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters but itis a fail
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
Test ID :- EXCL_P_05
Test ID :- EXCL_P_03
Test ID :- EXCL_P_02
Test ID :- EXCL_P_06
Test ID :- EXCL_P_09
Test ID :- EXCL_P_11
Test ID :- EXCL_P_12
Test ID :- EXCL_P_13
Test ID :- EXCL_P_14
Test ID :- EXCL_P_15
Test ID :- EXCL_P_16
Test ID :- EXCL_P_18
Test ID :- EXCL_P_24
Test ID :- EXCL_P_25
Test ID :- EXCL_P_26
Test ID :- EXCL_P_28
Test ID :- EXCL_P_29
Test ID :- EXCL_P_30
Test ID :- EXCL_P_31
Test ID :- EXCL_P_32

    Steps Status   Start Time     End Time            test_names
0      54   pass  10:23:21 AM  10:25:21 AM  Test ID :- EXCL_P_05
1      55   pass  10:23:18 AM  10:25:22 AM  Test ID :- EXCL_P_03
2      54   pass  10:23:18 AM  10:25:21 AM  Test ID :- EXCL_P_02
3      54   pass  10:25:38 AM  10:27:45 AM  Test ID :- EXCL_P_06
4      15   pass  10:25:56 AM  10:26:14 AM  Test ID :- EXCL_P_09
5      15   fail  10:25:55 AM  10:26:14 AM  Test ID :- EXCL_P_11
6      15   pass  10:26:37 AM  10:27:11 AM  Test ID :- EXCL_P_12
7      54   pass  10:26:37 AM  10:28:40 AM  Test ID :- EXCL_P_13
8      54   pass  10:27:22 AM  10:29:29 AM  Test ID :- EXCL_P_14
9      57   pass  10:27:59 AM  10:30:14 AM  Test ID :- EXCL_P_15
10     55   pass  10:29:20 AM  10:31:32 AM  Test ID :- EXCL_P_16
11     31   pass  10:29:45 AM  10:31:02 AM  Test ID :- EXCL_P_18
12     55   pass  10:30:25 AM  10:32:39 AM  Test ID :- EXCL_P_24
13     55   pass  10:31:43 AM  10:33:54 AM  Test ID :- EXCL_P_25
14     54   pass  10:32:00 AM  10:34:13 AM  Test ID :- EXCL_P_26
15     57   pass  10:32:49 AM  10:35:05 AM  Test ID :- EXCL_P_28
16     58   pass  10:34:04 AM  10:36:18 AM  Test ID :- EXCL_P_29
17     60   pass  10:34:23 AM  10:36:35 AM  Test ID :- EXCL_P_30
18     57   pass  10:35:15 AM  10:37:24 AM  Test ID :- EXCL_P_31
19     59   pass  10:36:30 AM  10:38:44 AM  Test ID :- EXCL_P_32

C:\Users\c.hernandezperez\Desktop\drop\reports\index.html
Loaded the URL : 'https://owl-gatewaywebapp-uat.azurewebsites.net/contratar-seguro-coche'
first time it enters in a test
first time it enters but itis a fail
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
Test ID :- SALE_MM_01
Test ID :- SALE_P_03
Test ID :- SALE_P_14
Test ID :- INSP_M_01
Test ID :- INSP_P_01
Test ID :- EXCL_M_01
Test ID :- EXCL_P_02

   Steps Status  Start Time    End Time             test_names
0    101   fail  7:15:16 AM  7:21:40 AM  Test ID :- SALE_MM_01
1    119   pass  7:21:51 AM  7:28:45 AM   Test ID :- SALE_P_03
2    104   pass  7:28:58 AM  7:35:26 AM   Test ID :- SALE_P_14
3    104   pass  7:35:38 AM  7:42:13 AM   Test ID :- INSP_M_01
4    110   pass  7:42:22 AM  7:49:13 AM   Test ID :- INSP_P_01
5     54   pass  7:49:22 AM  7:51:19 AM   Test ID :- EXCL_M_01
6     56   pass  7:51:30 AM  7:53:28 AM   Test ID :- EXCL_P_02

C:\Users\c.hernandezperez\Desktop\drop\reports\index_2.html
Loaded the URL : 'https://owl-gatewaywebapp-uat.azurewebsites.net/contratar-seguro-coche'
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters but itis a fail
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters but itis a fail
first time it enters in a test
first time it enters but itis a fail
first time it enters in a test
first time it enters in a test
Saved previous test
Test ID :- SALE_P_01
Test ID :- SALE_P_02
Test ID :- SALE_P_03
Test ID :- SALE_P_04
Test ID :- SALE_P_05
Test ID :- SALE_P_06
Test ID :- SALE_P_07
Test ID :- SALE_P_08
Test ID :- SALE_P_09
Test ID :- SALE_P_10

   Steps Status   Start Time     End Time            test_names
0    202   pass   8:10:03 AM   8:32:24 AM  Test ID :- SALE_P_01
1    127   fail   8:32:34 AM   8:43:04 AM  Test ID :- SALE_P_02
2    183   pass   8:43:13 AM   9:02:48 AM  Test ID :- SALE_P_03
3    167   pass   9:02:57 AM   9:17:06 AM  Test ID :- SALE_P_04
4    186   pass   9:17:16 AM   9:32:05 AM  Test ID :- SALE_P_05
5    185   pass   9:32:15 AM   9:47:39 AM  Test ID :- SALE_P_06
6    127   fail   9:47:48 AM   9:58:21 AM  Test ID :- SALE_P_07
7    109   fail   9:58:33 AM  10:08:35 AM  Test ID :- SALE_P_08
8    191   pass  10:08:46 AM  10:32:10 AM  Test ID :- SALE_P_09
9    147   fail  10:32:20 AM  10:44:15 AM  Test ID :- SALE_P_10

C:\Users\c.hernandezperez\Desktop\drop\reports\index_3.html
Loaded the URL : 'https://crm365onlinepages-sit.azurewebsites.net/html/mainuci.html'
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
first time it enters in a test
Group3_Prerequisite
TC044_Verify_The_Currency_Value_of_The_Default_Location_Of_An_Account
TC064_Verify_the_process_of_Creating_New_Time_and_Expense_Week_and_verifying_the_budget_details_in_the_Assignment
TC038_Verify_That_Change_In_The_FieldValue_Of_Local_Currency_On_Location_Recalculates_The_Currency_Values_On_Liability_Loss_Scenario
TC004_Creation_Of_SprinklerSystems_TestDataSprinklerMainDrain_And_FixedFireProtectionSystems
TC039_Verify_That_Change_In_The_FieldValue_Of_Local_Currency_On_Location_Recalculates_The_Currency_Values_On_MachineryBreakdown_Loss_Scenario
TC040_Verify_That_Change_In_The_FieldValue_Of_Local_Currency_On_Location_Recalculates_The_Currency_Values_On_MBCriticalEquipment_Or_Object_Entity
TC009_Creation_of_Water_Supply_Systems_Test_Data_Non_pumping_Water_Supply_and_Test_Data_Pumping_Water_Supply
TC041_Verify_That_Change_In_The_FieldValue_Of_Local_Currency_On_Location_Recalculates_The_Currency_Values_On_Property_Loss_Scenario
TC005_Creation_of_Assignment_in_Assigned_status
TC042_Verify_That_Change_In_The_FieldValue_Of_Local_Currency_On_Location_Recalculates_The_Currency_Values_On_Property_Values_Entity
TC046_Verify_the_field_Send_Email_is_read_only_on_load_when_Email_Sent_is_Yes
TC037_Verify_That_Change_In_The_FieldValue_Of_Local_Currency_On_Location_Recalculates_The_Currency_Value_On_Customer_Product_Entity
TC043_Verify_That_Change_In_The_FieldValue_Of_Local_Currency_On_Location_Recalculates_The_Currency_Values_On_RIA_Entity
TC028_ToVerify_NDAApplies_field_upon_clicking_on_Load
TC024_To_Verify_NDAAppliesfield_if_RequestSourceisSoldServiceContract
TC045_Verify_the_Deletion_and_Deactivation_activities_on_Distribution_List_as_per_the_status_of_Assignment
TC032_ToVerify_user_isableto_create_NDAApplies_and_NDAReference
TC029_ToVerify_theFormsoftheentities_are_revised_toshow_NDAApplies_field
TC025_ToVerify_NDAApplies_fieldOn_Childrecords_equal_to_NDAApplies_of_SR
TC010_Edit_Local_Currency_And_Verify_The_Entites_That_Are_Effected_By_Change_In_Local_Currency_Field_Of_Location
TC016_To_validate_the_Priority_field_on_Work_Products_should_display_the_actual_value_from_GREW_rather_than_I_or_II_or_III
TC026_ToVerify_NDAApplies_fieldonLocation

,Steps,Status,Start Time,End Time,test_names
0,17,fail,3:53:40 PM,3:54:59 PM,Group3_Prerequisite
1,12,fail,3:55:14 PM,3:56:19 PM,TC044_Verify_The_Currency_Value_of_The_Default...
2,12,fail,3:56:38 PM,3:57:41 PM,TC064_Verify_the_process_of_Creating_New_Time_...
3,12,fail,3:57:54 PM,3:59:00 PM,TC038_Verify_That_Change_In_The_FieldValue_Of_...
4,12,fail,3:59:14 PM,4:00:21 PM,TC004_Creation_Of_SprinklerSystems_TestDataSpr...
5,12,fail,4:00:38 PM,4:01:40 PM,TC039_Verify_That_Change_In_The_FieldValue_Of_...
6,12,fail,4:01:54 PM,4:03:01 PM,TC040_Verify_That_Change_In_The_FieldValue_Of_...
7,12,fail,4:03:14 PM,4:04:20 PM,TC009_Creation_of_Water_Supply_Systems_Test_Da...
8,12,fail,4:04:36 PM,4:05:41 PM,TC041_Verify_That_Change_In_The_FieldValue_Of_...
9,12,fail,4:05:54 PM,4:07:03 PM,TC005_Creation_of_Assignment_in_Assigned_status
10,12,fail,4:07:18 PM,4:08:26 PM,TC042_Verify_That_Change_In_The_FieldValue_Of_...
11,31,pass,4:08:42 PM,4:10:13 PM,TC046_Verify_the_field_Send_Email_is_read_only...
12,12,fail,4:10:27 PM,4:11:37 PM,TC037_Verify_That_Change_In_The_FieldValue_Of_...
13,12,fail,4:11:51 PM,4:12:54 PM,TC043_Verify_That_Change_In_The_FieldValue_Of_...
14,12,fail,4:13:07 PM,4:14:11 PM,TC028_ToVerify_NDAApplies_field_upon_clicking_...
15,12,fail,4:14:26 PM,4:15:31 PM,TC024_To_Verify_NDAAppliesfield_if_RequestSour...
16,50,pass,4:15:45 PM,4:17:13 PM,TC045_Verify_the_Deletion_and_Deactivation_act...
17,10,fail,4:17:26 PM,4:18:29 PM,TC032_ToVerify_user_isableto_create_NDAApplies...
18,12,fail,4:18:42 PM,4:19:49 PM,TC029_ToVerify_theFormsoftheentities_are_revis...
19,12,fail,4:20:04 PM,4:21:10 PM,TC025_ToVerify_NDAApplies_fieldOn_Childrecords...
20,12,fail,4:21:24 PM,4:22:44 PM,TC010_Edit_Local_Currency_And_Verify_The_Entit...
21,12,fail,4:22:59 PM,4:24:06 PM,TC016_To_validate_the_Priority_field_on_Work_P...
22,12,fail,4:24:20 PM,4:25:27 PM,TC026_ToVerify_NDAApplies_fieldonLocation

C:\Users\c.hernandezperez\Desktop\drop\reports\index_fatal.html
java.lang.Exception: chrome Browser did not get launched ' 	at core.Reporter.logFATAL(Reporter.java:67) 	at core.WebFunctions.launchBrowser(WebFunctions.java:114) 	at reusuables.Web.doppoCarInsurance(Web.java:112) 	at scenarios.QuoteCreation.test(QuoteCreation.java:41) 	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method) 	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62) 	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) 	at java.lang.reflect.Method.invoke(Method.java:498) 	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124) 	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583) 	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719) 	at org.testng.internal.TestMethodWithDataProviderMethodWorker.call(TestMethodWithDataProviderMethodWorker.java:71) 	at org.testng.internal.TestMethodWithDataProviderMethodWorker.call(TestMethodWithDataProviderMethodWorker.java:14) 	at java.util.concurrent.FutureTask.run(FutureTask.java:266) 	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511) 	at java.util.concurrent.FutureTask.run(FutureTask.java:266) 	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149) 	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624) 	at java.lang.Thread.run(Thread.java:748)
Test ID :- SALE_P_11
Test ID :- SALE_P_12
Test ID :- SALE_P_13
Test ID :- SALE_P_14
Test ID :- SALE_P_15
Test ID :- SALE_P_16
Test ID :- SALE_P_17
Test ID :- SALE_P_18
Test ID :- SALE_P_19
Test ID :- SALE_P_20
Test ID :- SALE_P_21
Test ID :- SALE_P_22
Test ID :- SALE_P_23
Test ID :- SALE_P_24
Test ID :- SALE_P_25

    Steps Status  Start Time    End Time            test_names
0       1  fatal  2:26:49 PM  2:26:49 PM  Test ID :- SALE_P_11
1       1  fatal  2:26:50 PM  2:26:50 PM  Test ID :- SALE_P_12
2       1  fatal  2:26:51 PM  2:26:51 PM  Test ID :- SALE_P_13
3       1  fatal  2:26:52 PM  2:26:52 PM  Test ID :- SALE_P_14
4       1  fatal  2:26:54 PM  2:26:54 PM  Test ID :- SALE_P_15
5       1  fatal  2:26:55 PM  2:26:55 PM  Test ID :- SALE_P_16
6       1  fatal  2:26:57 PM  2:26:57 PM  Test ID :- SALE_P_17
7       1  fatal  2:26:58 PM  2:26:58 PM  Test ID :- SALE_P_18
8       1  fatal  2:26:59 PM  2:26:59 PM  Test ID :- SALE_P_19
9       1  fatal  2:27:00 PM  2:27:00 PM  Test ID :- SALE_P_20
10      1  fatal  2:27:04 PM  2:27:04 PM  Test ID :- SALE_P_21
11      1  fatal  2:27:05 PM  2:27:05 PM  Test ID :- SALE_P_22
12      1  fatal  2:27:06 PM  2:27:06 PM  Test ID :- SALE_P_23
13      1  fatal  2:27:07 PM  2:27:07 PM  Test ID :- SALE_P_24
14      1  fatal  2:27:09 PM  2:27:09 PM  Test ID :- SALE_P_25

C:\Users\c.hernandezperez\Desktop\drop\reports\Regression_Suite-UAT_2020-02-25 07-14.html
Loaded the URL : 'https://owl-gatewaywebapp-uat.azurewebsites.net/contratar-seguro-coche'
first time it enters in a test
first time it enters but itis a fail
first time it enters in a test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
first time it enters in a test
Saved previous test
Test ID :- SALE_MM_01
Test ID :- SALE_P_03
Test ID :- SALE_P_14
Test ID :- INSP_M_01
Test ID :- INSP_P_01
Test ID :- EXCL_M_01
Test ID :- EXCL_P_02

   Steps Status  Start Time    End Time             test_names
0    101   fail  7:15:16 AM  7:21:40 AM  Test ID :- SALE_MM_01
1    119   pass  7:21:51 AM  7:28:45 AM   Test ID :- SALE_P_03
2    104   pass  7:28:58 AM  7:35:26 AM   Test ID :- SALE_P_14
3    104   pass  7:35:38 AM  7:42:13 AM   Test ID :- INSP_M_01
4    110   pass  7:42:22 AM  7:49:13 AM   Test ID :- INSP_P_01
5     54   pass  7:49:22 AM  7:51:19 AM   Test ID :- EXCL_M_01
6     56   pass  7:51:30 AM  7:53:28 AM   Test ID :- EXCL_P_02

In [12]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(open('C:\\Users\\c.hernandezperez\\Desktop\\drop\\reports\\342.html'), "html.parser")

In [19]:
test_names = [] 
for test in soup.find_all('span', {'class' : 'test-name'}):
    print(test.text)
    test_names.append(test.text)
print(test_names)

BT_AustraliaNewSubmission
BT_ChinaNewSubmissionRenewal
BT_HongKongNewSubmissionCopySubmission
BT_IndonesiaNewSubmission
BT_SingaporeNewSubmissionCancellation
BT_SpainNewSubmissionMultiversion
BT_SwitzerlandNewSubmissionChangePolicyEffDate
BT_AustraliaMta
['BT_AustraliaNewSubmission', 'BT_ChinaNewSubmissionRenewal', 'BT_HongKongNewSubmissionCopySubmission', 'BT_IndonesiaNewSubmission', 'BT_SingaporeNewSubmissionCancellation', 'BT_SpainNewSubmissionMultiversion', 'BT_SwitzerlandNewSubmissionChangePolicyEffDate', 'BT_AustraliaMta']